:root {
   --body: #272727;
   --border: #bebebe4f;
   --box-shadow: 5px 6px 17px 0px rgb(183 183 183 / 6%)
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
}

.h1,
h1 {
   font-size: 1.9rem;
}

.h2,
h2 {
   font-size: 1.4rem;
}

.h3,
h3 {
   font-size: 1.3rem;
}

.h4,
h4 {
   font-size: 1.2rem;
}

.h5,
h5 {
   font-size: 1.1rem;
}

.h6,
h6 {
   font-size: 1rem;
}

.block-title {
   margin-bottom: 1rem;
   font-size: 1.5rem;
}

.text-xs {
   font-size: .8rem;
}

.text-sm {
   font-size: 1rem;
}

.text-md {
   font-size: 1.2rem;
}

.text-lg {
   font-size: 1.5rem;
}

.text-xl {
   font-size: 1.7rem;
}

.text-nowrap {
   white-space: nowrap;
}

.header-shadow {
   box-shadow: 0 0 20px 0px rgb(0 0 0 / 4%),
      0 0px 10px 0px rgb(0 0 0 / 0%);
}

.card-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: .6rem;
   font-size: 1.2rem;
}

.card-caption {
   font-size: .8rem;
}


.text-gray {
   color: rgb(126, 126, 126);
}

.border-gray {
   border: 1px solid #dddddd59;
}

.bg-grey-transparent {
   background-color: #dddddd59;
}

.sticky-top {
   position: sticky;
   top: 0;
   z-index: 100;
}

.q-card__actions {
   padding: 16px;
   align-items: center;
}

.card-md {
   width: 100%;
   max-width: 450px;
}

.card-lg {
   width: 100%;
   max-width: 700px;
}

.card-xl {
   width: 100%;
   max-width: 1023px;
}

.q-card.section {
   overflow: hidden;
   box-shadow: 4px 6px 18px rgba(182, 186, 203, 0.3);
   border-radius: 6px;

   &.no-padding {
      .q-card__section--vert {

         padding: 0px;
      }
   }
}

.bordered {
   border: 1px solid var(--border);
}

.box-shadow {
   box-shadow: var(--box-shadow);
}

.bg-gray-2 {
   background-color: rgb(248, 248, 248);
}

.bg-gray {
   background-color: #fafafa;
}

@media (min-width: 600px) {
   .q-card.section .q-card__section--vert {
      padding: 1.3rem 1.5rem;
   }
}

@media (min-width: 1024px) {
   .q-layout-padding {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
   }
}

.table-responsive {
   width: 100%;
   overflow: auto;
}

.line-height-normal {
   line-height: normal;
}

ol.list,
ul.list {
   display: block;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 20px;
   unicode-bidi: isolate;

   >li {
      padding: 4px;
   }
}

.label {
   color: gray;
   margin-bottom: 6px;
}

table.table {
   border-spacing: 0;
   width: 100%;
   font-size: 13px;

   >thead>tr>th {
      background-color: #e8e8e84f;
   }

   tr>th,
   tr>td {
      padding: 4px 6px;
   }

   tr>th:last-child,
   tr>td:last-child {
      padding-right: 26px;
   }

   tr>th:first-child,
   tr>td:first-child {
      padding-left: 26px;
   }

   &.wide {

      tr>td,
      tr>th {
         padding: 12px 20px;
      }
   }

   &.widest {

      tr>td,
      tr>th {
         padding: 16px 22px;
      }
   }

   >tfoot {

      >tr>td,
      >tr>th {
         text-align: right;
         padding: 4px 12px;

      }
   }

   >tbody>tr:not(:last-child)>td {
      border-bottom: 1px solid var(--border);
   }

   &.aligned {
      >thead>tr>th:last-child {
         text-align: right;
      }

      >tbody>tr>td:last-child {
         text-align: right;
      }
   }
}

.sitename {
   font-size: 1.5rem;
   font-weight: 600;
}

.navigation {
   font-size: 1rem;
}

.q-btn.btn-action,
.btn-action {
   padding: 3px 16px;
   font-size: 12px;
   white-space: nowrap;
   min-height: 2rem;

   &.q-btn--dense {
      padding: 6px;
   }

   &--icon {
      font-size: 10px;
      padding: 7px;
      border-radius: 6px;

      &::before {
         box-shadow: none;
      }
   }

   &.q-btn--no-uppercase {
       padding: 2px 16px;
      font-size: 12.5px;
   }
}

.q-btn .on-left {
   margin-right: 6px;
}

.q-btn .on-right {
   margin-left: 6px;
}

.thumbnail.selected img,
.thumbnail.selected {
   border-color: rgb(3, 194, 3);
}

img.thumbnail,
.thumbnail img {
   padding: 4px;
   border-radius: 4px;
   background-color: #fff;
   border-style: solid;
   border-color: rgba(196, 196, 196, 0.575);
   border-width: 1px;
}

.card-action {
   padding-top: 20px;
   display: flex;

   >:not(:first-child) {
      margin-left: 10px;
   }
}

.header-title {
   font-size: 2.7rem;
   margin-bottom: 2rem;
}

h1.page-title,
.page-title {
   font-size: 2rem;
   text-transform: capitalize;
   margin-bottom: 1.4rem;
}
.page-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.5rem;
   font-size: 1.5rem;
   line-height: normal;
   h1 {
      margin-bottom: 0;
      font-size: 1.6rem;
   }
}

.form-input .q-field__label {
   text-transform: capitalize;
}

.q-table th {
    font-weight: 500;
    font-size: 13px;
    user-select: none;
}

.q-expansion-item.q-expansion-item--expanded.expansion-custom {
   background-color: rgba(231, 248, 235, 0.336)
}

.text-label {
   color: rgba(87, 87, 87, 0.959);
   padding-bottom: .6rem;
}

.relative {
   position: relative;
}

.grid-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.grid-2-auto {
   display: grid;
   grid-template-columns: repeat(2, 1fr);

   @media (max-width: 800px) {
      grid-template-columns: 1fr;
   }
}

.grid-3-auto {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   @media (max-width: 400px) {
      grid-template-columns: 1fr;
   }
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 6px;
    unicode-bidi: isolate;
}

.sticky-bottom {
   position: sticky;
   bottom: 0;
}
